@import common

.content
	width 100%
	height 100%
	color white
	background-color black
	text-align center

	h1
		padding 15px 0px

	.nesgame
		display inline-block

		.id
			font-size 10px

		.nescanvas
			width: 512px;
			height: 480px;


